.form-server input {
    display: block;
}

.advert-form {
width: 80%;
margin: 30px auto;
border-right: 2px solid #928b8b;
border-left: 2px solid #928b8b;
padding: 20px 0px;
}

.advert-form div {
padding: 8px 70px;
}

.advert-form input {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
}

.advert-form button {
padding: 10px;
font-size: 16px;
cursor: pointer; 
min-width: 150px;
}

.advert-form button:hover {
background: #eeeeee;
border-color: #545d99;
}
 
.advert-form_button {
display: flex;
justify-content: flex-end;

}

.advert-form_title {
font-size: 21px;
color: #3b3b3b;

}

.advert-form_button__login div {
    padding: 0px;
    width: 32%;
}


.advert-form_button__login {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
     font-weight: 500;
} 

.advert-form_button__remember {
    display: flex;
    justify-content: flex-end;
}

.advert-form input[type="checkbox"] {
    width: auto;
}

.advert-form_button__login {
    display: flex;
    justify-content: flex-end;
}

.advert-form-add input::placeholder {
    color: #474747;
}

.advert-form input[type="file"]{
    width: 49%;
}

.advert-form-category,
.advert-form-file,
.advert-form-body{}

.advert-form textarea {
    width: 100%;

}

.advert-form label {
    width: 50%;
    display: inline-block;
    font-size: 17px;
}

.advert-form select option {
    padding: 5px;
}

